@model HotelManagementSystem.Models.RoomQuantity

@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/layout.css" rel="stylesheet" type="text/css" media="all">
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoomQuantity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRoom)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
